.dropdown-box {
    margin-top: 20px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 2px;
    /* border: 1px solid lightgray; */
    padding-top: 10px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#region-dropdown {
    width: 180px;
    height: 35px;
    background-color: gainsboro;
    border-width: 0px;
    padding-left: 10px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#region-dropdown-item {
    font-size: 13px;
    width: 180px;
}


.my-datepicker {
    width: 140px;
}

.my-datepicker label {
    font-size: 13px;
}

#datepicker-text {
    font-size: 13px;
}


th {
    font-size: 14px;
}

td {
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
}

td.point-td {
    text-align: end;
}

tbody {
    font-size: 14px;
}

#csv-button {
    text-decoration: none;
    height: 35px;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding: 10px !important;
}
#csv-button:hover {
    font-weight: 600;
}


#order-button {
    font-size: 13px;
}

#user-searchbar {
    display: flex;
    flex-direction: row;
}


#user-search-dropbox {
    font-size: 14px;
    width: 120px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}


#user-search-dropbox-menu {
    background-color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 13px;
}


#user-search-input {
    font-size: 14px;
    width: 240px;
    color: gray;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: lightgray;
    border-style: solid;
    padding-left: 15px;
}

#user-search-input:focus {
    outline: none;
}

#user-search-button {
    font-size: 14px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-width: 1px;
}

#user-search-button:hover {
    color: white;
}

#chart-box {
    width: 100%;
    height: 100%;
}

#top-grid-box {
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}


#spline-linechart {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pie-chart {
    display: flex;
    justify-content: center;
    align-items: center;
}